/* Page */
html {
  font-size: 100%; /* 16px */
}

body {
  background-color: theme('colors.white');
  color: theme('colors.text');
  font-family: theme('fontFamily.sans');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: theme('fontWeight.normal');
  line-height: theme('lineHeight.normal');
  text-rendering: optimizeLegibility;
}

/* Links */
a {
  color: theme('colors.link');
  font-family: inherit;
  outline: none;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &:focus {
    box-shadow: theme('boxShadow.outline');
    outline: none;
  }

  &:visited {
    color: theme('colors.link');
  }
}

/* Font styles */
strong,
b {
  font-weight: theme('fontWeight.bold');
}

em,
i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

sup,
sub {
  font-size: 0.75em;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}
