.videoPlayer {
  cursor: pointer;

  & :global .vjs-big-play-button {
    background: none;
    border: none;
    color: theme('colors.white');
    font-size: 80px;
    height: 70px;
    left: 50%;
    line-height: 70px;
    margin-left: -35px;
    margin-top: -35px;
    top: 50%;
    width: 70px;
  }

  :global .video-js:hover .vjs-big-play-button,
  :global .video-js .vjs-big-play-button:focus {
    background-color: transparent;
    color: theme('colors.green.600');
  }

  :global .video-js .vjs-time-tooltip {
    line-height: 0;
    padding: 10px 8px 10px 8px;
  }
}
