.badge {
  align-items: center;
  background-color: red;
  border-radius: 50%;
  color: white;
  display: flex;
  font-size: 10px;
  height: 1.5em;
  justify-content: center;
  line-height: 0;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 1.5em;
}
