.DS_Store
.env.development.local
.env.production.local
.vscode
.cache
.build
node_modules
dist
coverage
server/logs/*
docker-compose.yml
yarn-debug.log*
yarn-error.log*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
