/* Page */
body {
  background-color: theme('colors.white');
  color: theme('textColor.black');
  font-family: theme('fontFamily.sans');
  font-size: 100%; /* 16px */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: theme('fontWeight.normal');
  line-height: theme('lineHeight.normal');
  text-rendering: optimizeLegibility;
}

/* Links */
a {
  color: theme('colors.link');
  font-family: inherit;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:visited {
    color: theme('colors.link');
  }
}

/* Lists */
ol,
ul {
  list-style-position: outside;
  margin-left: 2.5em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

/* Font styles */
strong,
b {
  font-weight: theme('fontWeight.bold');
}

em,
i {
  font-style: italic;
}

u {
  text-decoration: underline;
}

sup,
sub {
  font-size: 0.75em;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}
