.container {
  position: relative;
}

.input {
  padding-right: theme('spacing.8');
}

.eye {
  cursor: pointer;
  margin-right: theme('spacing.4');
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  &:focus {
    box-shadow: theme('boxShadow.outline');
    outline: none;
  }
}
