.tooltip {
  background-color: theme('colors.gray.700');
  border-radius: theme('borderRadius.DEFAULT');
  color: white;
  padding: theme('spacing.1') theme('spacing.2');
}

.arrow,
.arrow::before {
  height: 12px;
  position: absolute;
  width: 12px;
  z-index: -1;
}

.arrow::before {
  background: theme('colors.gray.700');
  content: '';
  transform: rotate(45deg);
}

.tooltip[data-placement^='top'] > .arrow {
  bottom: -4px;
}

.tooltip[data-placement^='bottom'] > .arrow {
  top: -4px;
}

.tooltip[data-placement^='left'] > .arrow {
  right: -4px;
}

.tooltip[data-placement^='right'] > .arrow {
  left: -4px;
}
