.spinner {
  display: none;
  border-radius: 50%;
}

.spinner {
  border-top-color: theme('colors.gray.400');
  border-right-color: theme('colors.gray.400');
  border-bottom-color: theme('colors.gray.400');
  border-left-color: theme('colors.gray.600');
  border-style: solid;
  animation: load 0.65s infinite linear;
}

.indeterminate {
  animation-duration: 1s;
}

.active {
  display: block;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
