.container {
  align-items: center;
  display: flex;
  justify-content: space-between;

  & > input {
    margin-right: theme('spacing.1');
    padding-bottom: theme('padding.3');
    padding-top: theme('padding.3');
  }

  & > input:last-child {
    margin-right: 0;
  }
}

.input {
  min-width: 0;
  text-align: center;
}
