<mjml>
  <mj-head>
    <mj-title>Unlock your account</mj-title>
    <mj-font
      name="Heebo"
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap"
    />
    <mj-attributes>
      <mj-all
        font-family="Heebo, Arial"
        font-size="16px"
        color="#4A5568"
        line-height="1.5"
        padding="0"
      />
    </mj-attributes>
  </mj-head>
  <mj-body background-color="#EDF2F7">
    <mj-wrapper padding="40px 16px" background-color="#EDF2F7">
      <mj-section padding-bottom="20px">
        <mj-column>
          <mj-image
            width="100px"
            src="https://www.pinclipart.com/picdir/middle/166-1665242_fakery-logo-transparent-dummy-logo-png-clipart.png"
            align="left"
          ></mj-image>
        </mj-column>
      </mj-section>

      <mj-section background-color="white" padding="24px">
        <mj-column>
          <mj-text padding-bottom="16px">Hi Michael,</mj-text>

          <mj-text padding-bottom="16px"
            ><b>To unlock your account</b> you may use the 8-digit code
            below.</mj-text
          >

          <mj-text font-size="30px" align="center" letter-spacing="4px"
            >78937364</mj-text
          >

          <mj-text font-size="14px" padding-top="16px" color="#718096"
            >If you are unsure why you are receiving this email, please ignore
            it. It's likely someone else accidentally used your email address or
            made a typo when entering their own.</mj-text
          >
        </mj-column>
      </mj-section>

      <mj-section>
        <mj-column>
          <mj-text
            color="#718096"
            font-size="12px"
            padding-top="24px"
            padding-bottom="8px"
          >
            You’re receiving this email because your account has been locked.
          </mj-text>
          <mj-text color="#718096" font-size="12px" text-decoration="underline">
            Unsubscribe from emails like this</mj-text
          >

          <mj-divider
            border-width="1px"
            border-style="solid"
            border-color="#E2E8F0"
            padding="16px 0px"
          />

          <mj-text color="#718096" font-size="12px">
            <span style="font-weight: 700;">LifeSkills</span>, 1140 2nd Street,
            28th Floor, San Francisco, SF 94105</mj-text
          >
        </mj-column>
      </mj-section>
    </mj-wrapper>
  </mj-body>
</mjml>
