.container {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: theme('zIndex.50');
}

.drawer {
  background-color: theme('colors.white');
  box-shadow: -4px 0 4px 0 rgba(140, 140, 140, 0.5);
  height: 100vh;
  position: relative;
  z-index: theme('zIndex.50');
}

.content {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: theme('zIndex.40');
}
