.checkbox {
  appearance: none;
  background-color: theme('backgroundColor.white');
  background-origin: border-box;
  border-color: theme('colors.gray.400');
  border-radius: theme('borderRadius.DEFAULT');
  border-width: theme('borderWidth.DEFAULT');
  color: theme('colors.green.600');
  color-adjust: exact;
  display: inline-block;
  flex-shrink: 0;
  height: theme('height.4');
  transition-duration: theme('transitionDuration.300');
  transition-property: theme('transitionProperty.colors');
  transition-timing-function: theme('transitionTimingFunction.in-out');
  user-select: none;
  vertical-align: middle;
  width: theme('width.4');

  @media screen and (min-width: theme('screens.768')) {
    height: theme('height.5');
    width: theme('width.5');
  }
}

.checkbox:checked {
  background-color: currentColor;
  background-image: url('/icons/checkmark.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 65% 65%;
  border-color: transparent;
  transition-duration: theme('transitionDuration.300');
  transition-property: theme('transitionProperty.colors');
  transition-timing-function: theme('transitionTimingFunction.in-out');
}
