.button {
  border-radius: theme('borderRadius.sm');
  border-style: solid;
  border-width: 1px;
  box-shadow: theme('boxShadow.sm');
  font-size: theme('fontSize.sm');
  font-weight: theme('fontWeight.medium');
  line-height: theme('lineHeight.5');
  padding: theme('padding.2') theme('padding.3');
  position: relative;
  transition-duration: theme('transitionDuration.300');
  transition-property: theme('transitionProperty.colors');
  width: 100%;

  &:focus {
    box-shadow: theme('boxShadow.outline');
    outline: none;
  }

  @media screen and (min-width: theme('screens.768')) {
    font-size: theme('fontSize.base');
    line-height: theme('lineHeight.6');
  }
}

// Variants
.default {
  background-color: theme('backgroundColor.white');
  border-color: theme('colors.gray.400');
  color: theme('colors.text');

  &:hover:not(.loading):not(.disabled) {
    border-color: theme('colors.gray.500');
    color: theme('colors.gray.900');
  }
}

.primary {
  background-color: theme('backgroundColor.green.600');
  border-color: theme('colors.green.600');
  color: theme('colors.white');

  &:hover:not(.loading):not(.disabled) {
    background-color: theme('backgroundColor.green.500');
    border-color: theme('colors.green.500');
  }
}

// States
.loading {
  cursor: default;
  pointer-events: none;
}

.disabled {
  cursor: default;
  opacity: theme('opacity.25');
  pointer-events: none;
}

.loader {
  left: 50%;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  & > div {
    animation: bounce 1.4s infinite ease-in-out both;
    background-color: #ffffff;
    border-radius: 100%;
    display: inline-flex;
    height: 0.75em;
    margin: 0 1px;
    width: 0.75em;
  }

  & > div:nth-child(1) {
    animation-delay: -0.32s;
  }

  & > div:nth-child(2) {
    animation-delay: -0.16s;
  }
}

// Components
a.link {
  color: theme('colors.black');

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: theme('colors.black');
  }
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
