.grid {
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: theme('screens.1024')) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.gridLeft {
  grid-column: 1 / 2;
}

.gridRight {
  display: none;

  @media screen and (min-width: theme('screens.1024')) {
    display: block;
    grid-column: 2 / 3;
  }
}

.loginGrid {
  align-items: center;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr;
  height: 100vh;
  margin: 1rem;

  @media screen and (min-width: theme('screens.480')) {
    margin: auto;
    max-width: theme('screens.360');
  }
}

.checkbox {
  appearance: none;
  background-color: theme('backgroundColor.white');
  background-origin: border-box;
  border-color: theme('colors.gray.400');
  border-radius: theme('borderRadius.default');
  border-width: theme('borderWidth.default');
  color: theme('colors.green.600');
  color-adjust: exact;
  display: inline-block;
  flex-shrink: 0;
  user-select: none;
  vertical-align: middle;
}

.checkbox:checked {
  background-color: currentColor;
  background-image: url('/icons/checkmark.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 65% 65%;
  border-color: transparent;
}
