.container {
  align-items: center;
  display: flex;

  & * {
    margin-right: theme('spacing.3');

    &:last-child {
      margin-right: 0;
    }
  }
}
.button {
  align-items: center;
  background-color: theme('backgroundColor.gray.200');
  border-radius: theme('borderRadius.md');
  color: theme('colors.gray.500');
  display: flex;
  justify-content: center;
  padding: 6px;
  transition-duration: 0.4s;
  transition-property: border-color transform;

  &:hover {
    transform: scale(1.075);
  }
}

.value {
  color: theme('colors.gray.600');
  font-size: theme('fontSize.sm');
}
